@using PopCorn.DataLayer.Models;
@using PopCorn.DataLayer.Models.Interfaces
@{
    ViewData["Title"] = "Проекты";
    ViewBag.EditLink = Url.Action("Edit", "Project");
}
@model List<Project>

<div id="main-wrapper">
    @Html.Partial("DataTable", Model.Select(d=>(IEntity)d).ToList())
</div>